body{
    background-image: url(img/latest.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#days{
    text-align: center;
    margin:170px 0 0 0;
    /* bottom: ; */
    font-family: Monaco;
    letter-spacing: 2px;
    font-size: 2.2em;
}
span{
    font-size: 1.5em;
    font-family: Papyrus;
    color: red;
}